.navbar {
  background: white;
}

.container-fluid {
  max-width: 1200px;
}
.iconLogo {
    object-fit: cover;
    height: 48px;
    width: auto;
}
.menuList {
  align-items: center;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}
.nav-link {
  margin: 4px 8px;
  padding: 20px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #fa2fb5 !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #fa2fb5;
  transition: all 200ms ease;
}

@media (max-width: 800px) {
    .navbar-brand {
    margin-left: 25px;
}
}